<div class="body">
  <h1><%= @episode.name %></h1>


  <section class="row">
    <div class="col-sm-4">
      <%= @episode.description %><br /><br />
      <div class="comment-instruction">

        <% if user_signed_in? %>
          <% if @users_episodes_series_view.present? %>
            <%= link_to("Je n'ai pas vu", users_episodes_series_path(:series_id => @episode.season.serie.id, :episodes_id => @episode.id,
              :season_id => @episode.season.id), :method=>:delete, class: "btn-delete") %>
          <% else %>
            <%= link_to("J'ai vu", new_users_episodes_series_path(:series_id => @episode.season.serie.id, :episodes_id => @episode.id,
              :season_id => @episode.season.id), :action=>:create, class: "btn-delete") %>
          <% end %>
        <% else %>
          <p>Vous devez être connecté.e pour marquer comme vu cet épisode</p>
        <% end %>
        <% if user_signed_in? %>
          <%= render "notes/form", episode: @episode, note: @new_note%>
        <% else %>
          <p>Vous devez être connecté.e pour laisser un commentaire.</p>
        <% end %>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="notes">
        <% if @episode.notes.any? %>
          <h2><%= @notes.average(:note) %>/5</h2>

          <% @episode.notes.each do |note| %>
            <%= render "notes/show", note: note %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
