<div class="">
  <h1><%= @serie.name %></h1>


  <section class="row">
    <div class="col-sm-4">
      <%= cl_image_tag(@serie.photo, width: 199, height: 279,
                                      crop: :fill) %>
      <div class="bookmark-instruction">
        <% if user_signed_in? %>
          <%= render "bookmarks/form", serie: @serie, bookmark: @new_bookmark%>
        <% else %>
          <p>Vous devez être connecté.e pour aimer cette série</p>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">

      <% @seasons.each do |season| %>
      <div class="SeasonImage">


          <%= cl_image_tag(season.photo, width: 199, height: 279, crop: :fill) %>
          <div>
            <p class="SeasonNumber">
               <%= link_to("Saison "+season.number.to_s, season_path(season.id)) %>
            </p>
          </div>
      </div>
      <% end %>
    </div>
  </section>
</div>
